<!doctype html>
<html>
<head>
		<title>Restaurant Search</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='FindRest/css/main.css') }}">
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='FindRest/css/main.css') }}"></noscript>
	</head>

	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Find a Resturant!</h1>
							<form action = "{{ url_for('get_restaurant') }}" method="POST">

							<label for="city">Enter City:</label><br>
							<input type="text" id="city" name="city"><br>
							<label for="state">Enter State:</label><br>
							<input type="text" id="state" name="state">

							<h3><div class="checky">
							<input type="radio" name="restaurant_tag" value="Fast Food"/>Chinese
							<input type="radio" name="restaurant_tag" value="Italian"/>Italian<br>
							<input type="radio" name="restaurant_tag" value="Greek"/>Greek
							<input type="radio" name="restaurant_tag" value="Pizza">Pizza<br>
							<input type="radio" name="restaurant_tag" value="Japanese"/>Japanese
							<input type="radio" name="restaurant_tag" value="Indian"/>Indian<br>
							<input type="radio" name="restaurant_tag" value="Latin American"/>Latin American<br>
							<input type="radio" name="restaurant_tag" value="Cuban"/>Cuban
							<input type="radio" name="restaurant_tag" value="Filipino"/>Filipino<br>
							<input type="radio" name="restaurant_tag" value="Steakhouses"/>	Steakhouses<br>
							</div>
								<input type = "submit" value = "Submit" />
							</h3>
							</form>
						</div>
						<div class="image">
							<img src="{{url_for('static', filename='FindRest/images/WP24_New_Dining_Room.12.jpg')}}" alt="" />
						</div>
					</section>
			</div>

		<!-- Scripts -->
			<script src="static/FindRest/js/jquery.min.js"></script>
			<script src="static/FindRest/js/jquery.scrollex.min.js"></script>
			<script src="static/FindRest/js/jquery.scrolly.min.js"></script>
			<script src="static/FindRest/js/browser.min.js"></script>
			<script src="static/FindRest/js/breakpoints.min.js"></script>
			<script src="static/FindRest/js/util.js"></script>
			<script src="static/FindRest/js/main.js"></script>

	</body>

</html>