<!doctype html>
<html>
   <body>
   <style>
    h3 {font-size: 30px;}
    h3 {text-align: center;}
    h2 {text-align: center;}
    h2 {font-size: 20px;}
   </style>
   <h3>Recipes</h3>

   <p><table border = 1 align="center">
         <thead>
         <th></th>
            <th>Recipe Name</th>
            <th>Time</th>
            <th>Yields</th>
            <th>Ingredients</th>
            <th>Instructions</th>
            <th>URL</th>
         <th></th>

         </thead>
         {% for row in revRows %}
            <tr>
                <th><img src={{row["Image"]}} alt="Recipe Image" style="width:70px;height:80px;"></th>
               <td>{{row["RecipeName"]}}</td>
               <td>{{row["Time"]}}</td>
               <td>{{row["Yields"]}}</td>
               <td>{{row["Ingredients"]}}</td>
               <td>{{row["Instructions"]}}</td>
               <td><a href={{row["URL"]}}>Go to Recipe!</a></td>
               <td><a href='/save_recipe/{{row["RecipeName"]}}'>Save Recipe</a></td>
            </tr>
         {% endfor %}

      </table></p>

      <h2><a href = "/">Return Home</a></h2>
        <h2><a href = "/recipe_home">Find More Recipes</a></h2>
   <h2><a href = "/sendrecipe">Send Email</a></h2>

   </body>
</html>