<!doctype html>
<html>
   <body>
   <style>
    h3 {font-size: 30px;}
    h3 {text-align: center;}
    h2 {text-align: center;}
    h2 {font-size: 20px;}
   </style>
   <h3>Resturants in {{ city }}, {{ state }}</h3>

   <p><table border = 1 align="center">
         <thead>
            <th>Restaurant Name</th>
            <th>Rating</th>
            <th>Price</th>
         </thead>
         {% for row in revRows %}
            <tr>
               <td>{{row["RestName"]}}</td>
               <td>{{row["RATING"]}}</td>
               <td>{{row["PRICE"]}}</td>
            </tr>
         {% endfor %}

      </table></p>

      <h2><a href = "/">Home</a></h2>
      <h2><a href = "/sendrestaurant">Send Email</a></h2>

   </body>
</html>